# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
unitarias-preview.txt
*a_usuario.py
init_sql.sql
extras.txt

# Virtual env
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Django
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# OS
Thumbs.db
.DS_Store

# Secrets and env
.env
.env.*
secrets.json